In [2]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from -r requirements.txt (line 1)) (1.2.3)
Requirement already satisfied: sklearn in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from -r requirements.txt (line 2)) (0.0)
Requirement already satisfied: seaborn in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from -r requirements.txt (line 3)) (0.11.1)
Requirement already satisfied: numpy in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from -r requirements.txt (line 4)) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2021.1)
Requirement already satisfied: scikit-learn in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from sklearn->-r requirements.txt (line 2)) (0.24.2)
Requirement already satisfied: scipy>=1.0 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from seaborn->-r requirements.txt (line 3)) (1.6.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from seaborn->-r requirements.txt (line 3)) (3.4.0)
Requirement already satisfied: six>=1.5 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 1)) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn->-r requirements.txt (line 2)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn->-r requirements.txt (line 2)) (1.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn->-r requirements.txt (line 3)) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn->-r requirements.txt (line 3)) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn->-r requirements.txt (line 3)) (8.1.2)
Requirement already satisfied: cycler>=0.10 in c:\users\susan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn->-r requirements.txt (line 3)) (0.10.0)
WARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\susan\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd 
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Analisi dei dati

# dati da leggere
train_raw = pd.read_csv("./train.csv")
test_raw = pd.read_csv("./test.csv")

In [4]:
train_raw.sample(10)

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
4070,No,6968-MHOMU,Male,0,Yes,No,58,No,No phone service,DSL,No,No,No,No,Yes,Yes,One year,Yes,Credit card (automatic),45.00,2689.35
4209,No,5141-ZUVBH,Female,0,No,Yes,9,Yes,No,Fiber optic,Yes,No,Yes,Yes,No,Yes,Month-to-month,No,Bank transfer (automatic),93.00,870.25
3912,Yes,6772-KSATR,Male,0,No,No,1,Yes,Yes,Fiber optic,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,81.70,81.7
3413,No,8780-YRMTT,Female,0,No,No,66,No,No phone service,DSL,Yes,Yes,Yes,Yes,No,No,Two year,Yes,Mailed check,47.40,3177.25
3627,No,0225-ZORZP,Male,0,No,No,3,Yes,No,Fiber optic,No,Yes,No,No,No,Yes,Month-to-month,No,Electronic check,84.30,235.05
3762,No,9364-YKUVW,Male,0,No,No,15,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.80,309.4
2751,No,0074-HDKDG,Male,0,Yes,Yes,25,Yes,No,DSL,Yes,Yes,Yes,No,No,No,One year,Yes,Bank transfer (automatic),61.60,1611
1292,Yes,5536-RTPWK,Male,0,Yes,No,49,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),99.05,4853.75
4029,No,3889-VWBID,Male,0,Yes,Yes,68,Yes,No,DSL,Yes,Yes,No,Yes,Yes,Yes,Two year,No,Bank transfer (automatic),82.85,5776.45
1689,No,7396-VJUZB,Male,0,Yes,Yes,4,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,No,Mailed check,45.25,155.35

In [5]:
train_raw.describe(include = "all")

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
count,4507,4507,4507,4507.000000,4507,4507,4507.000000,4507,4507,4507,4507,4507,4507,4507,4507,4507,4507,4507,4507,4507.000000,4507
unique,2,4507,2,NaN,2,2,NaN,2,3,3,3,3,3,3,3,3,3,2,4,NaN,4267
top,No,1057-FOGLZ,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,
freq,3296,1,2299,NaN,2323,3167,NaN,4072,2146,2017,2256,1947,1984,2251,1797,1783,2466,2672,1498,NaN,8
mean,NaN,NaN,NaN,0.159308,NaN,NaN,32.171955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.914688,NaN
std,NaN,NaN,NaN,0.366003,NaN,NaN,24.487239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.201099,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN
25%,NaN,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.450000,NaN
50%,NaN,NaN,NaN,0.000000,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.700000,NaN
75%,NaN,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.975000,NaN
max,NaN,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.350000,NaN

In [6]:
train_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4507 entries, 0 to 4506
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             4507 non-null   object
 1   customerID        4507 non-null   object
 2   gender            4507 non-null   object
 3   SeniorCitizen     4507 non-null   int64
 4   Partner           4507 non-null   object
 5   Dependents        4507 non-null   object
 6   tenure            4507 non-null   int64
 7   PhoneService      4507 non-null   object
 8   MultipleLines     4507 non-null   object
 9   InternetService   4507 non-null   object
 10  OnlineSecurity    4507 non-null   object
 11  OnlineBackup      4507 non-null   object
 12  DeviceProtection  4507 non-null   object
 13  TechSupport       4507 non-null   object
 14  StreamingTV       4507 non-null   object
 15  StreamingMovies   4507 non-null   object
 16  Contract          4507 non-null   object
 17  PaperlessBilling  4507 non-null   object
 18  PaymentMethod     4507 non-null   object
 19  MonthlyCharges    4507 non-null   float64
 20  TotalCharges      4507 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 739.6+ KB

In [7]:
# Elimino le feature non necessarie
train_raw.drop(["customerID"], axis=1, inplace=True)
test_raw.drop(["customerID"], axis=1, inplace=True)

In [8]:
# Trasformo la colonna TotalCharges in float
train_raw['TotalCharges'] = pd.to_numeric(train_raw.TotalCharges, errors = "coerce")
test_raw['TotalCharges'] = pd.to_numeric(test_raw.TotalCharges, errors = "coerce")

train_raw['Churn'].replace(to_replace = 'Yes', value = 1, inplace = True)
train_raw['Churn'].replace(to_replace = 'No', value = 0, inplace = True)
test_raw['Churn'].replace(to_replace = 'Yes', value = 1, inplace = True)
test_raw['Churn'].replace(to_replace = 'No', value = 0, inplace = True)

In [9]:
print(train_raw.isnull().sum())
print(test_raw.isnull().sum())

Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        8
dtype: int64
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        2
dtype: int64

In [10]:
import numpy as np
# Replace dei valori nulli di TotalCharges con la media della colonna
mediaTrain = train_raw['TotalCharges'].mean()
mediaTest = test_raw['TotalCharges'].mean()

train_raw['TotalCharges'] = train_raw['TotalCharges'].replace(np.NaN, mediaTrain).astype('float64')
test_raw['TotalCharges'] = test_raw['TotalCharges'].replace(np.NaN, mediaTest).astype('float64')

In [11]:
print(train_raw.isnull().sum())
print(test_raw.isnull().sum())

Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [12]:
# Get list of categorical variables
s = (train_raw.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

train2 = train_raw.drop(object_cols, axis = 1)
train3 = pd.get_dummies(train_raw[object_cols])
train = pd.concat([train3,train2], axis = 1)


s = (test_raw.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

test2 = test_raw.drop(object_cols, axis = 1)
test3 = pd.get_dummies(test_raw[object_cols])
test = pd.concat([test3,test2], axis = 1)

Categorical variables:
['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']
Categorical variables:
['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

In [13]:
y_train = train["Churn"].values
x_train = train.drop(["Churn"], axis = 1).values

y_test = test['Churn'].values
x_test = test.drop(['Churn'], axis = 1).values

In [14]:
from sklearn.linear_model import LogisticRegression

logic = LogisticRegression(random_state=0, max_iter=1000)
logic.fit(x_train, y_train)
print("Accuracy on training set: {:.3f}".format(logic.score(x_train, y_train)))
print("Accuracy on test set: {:.3f}".format(logic.score(x_test, y_test)))

Accuracy on training set: 0.797
Accuracy on test set: 0.812